@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans&family=Roboto+Mono:wght@100&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans&family=Poppins:wght@100&family=Roboto+Mono:wght@100&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans&family=Poppins:wght@100&family=Roboto+Mono:wght@100&family=Roboto:wght@500&family=Source+Code+Pro:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}


/* media Queries  */
@media (max-width: 1011px) {
 .main-content-div .profile-image {
width: 30vw;

    }
  }

@media (max-width: 780px) {
    .main-content-div {
        flex-direction: column;
        margin-left: 0.8rem;
    }
  
   .navigation .nav-a {
        font-size:17px;
    }

    #linkedin {
        margin: 0.5rem 2.3rem;

    }

    .profile-image img {
        margin-top: 77px;

    }
  }






.nav-a {
    font-family: poppins;
    font-size: 2rem;
    font-weight: 800;
    margin: 5px 8px;
    text-decoration: none;
    color: rgba(247, 247, 247, 0.808);
    font-weight: 100;


}

.nav-a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: rgba(204, 203, 203, 0.776);


}

.navigation {

    height: 10vh;
    width: 100vw;
    padding-top: 10px;
    background: inherit;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: rgba(17, 46, 139, 0.808);

}


.main-content-div {
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;

}

.profile-image {


    width: 28vw;
    height: auto;


}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    top: 5%;
    left: 25%;
}


#linkedin {
    position: relative;
    top: 15%;
    left: 10%;
    width: fit-content;
    margin: 5px 5px;

}

.introduction {}

.introduction h1 {
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 2rem;
    color: #ffffff;

}

#intro-text {
    font-size: 2rem;

    color: #a35757;
    font-family: poppins;
    font-weight: bolder;
    width: fit-content;
}

.introduction fieldset {
    margin: 15px 30px;

}

.subheading {
    font-size: 2rem;
    margin-left: 5rem;
    width: fit-content;
    color: #ffffffb8;

}

.sub-heading-skill {
    color: white;
    font-size: large;
}


.skill-div {
    display: flex;
    flex-wrap: wrap;
}

.inner-box {
    background-color: rgba(255, 255, 255, 0.769);
    box-shadow: 1px 1px 1px 1px #9a9a9ad7;
    margin: 20px 20px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    z-index: 3;

}



.inner-box img {
    width: 80px;
    height: 80px;

    margin: 6px 6px;
    padding: 10px;

}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: fit-content;

}

.projects-div {
    width: 100vw;
    height: fit-content;
}

.project-name {
    font-size: 2rem;
    color: #a35757;
}

.project-box {
    background-color: transparent;
    border-radius: 0%;
    margin: 2rem auto;

}

.description {
    color: white;
}

.buttons-para {
    margin: 2px auto;
}






.undergrad {

    width: 40vw;
    height: 350px;
    margin: 20px 60px;

}

.education-title {
    font-size: 4rem;
    color: #008394;


}

.degree-title {
    font-size: 1.5rem;
    margin-left: 4px;
    color: #7F4600;
}

.branch {
    color: #324B4F;
    margin-left: 4px;
}

.college-logo {
    height: 200px;
    width: 300px;
    color: rgb(192, 190, 190);
}